@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
@font-face {
  src: url("../assets/fonts/Kanit-Regular.ttf");
  font-family: "Kanit";
}
@font-face {
  src: url("../assets/fonts/Kanit-ExtraLight.ttf");
  font-family: "Kanit Light";
}

html,
body {
  height: 100%;
  font-family: "Kanit";
}

.navbar-brand {
  font-family: "Kanit Light";
  line-height: 12px;
}

.navbar-brand small {
  display: block;
  font-size: 14px;
}

nav {
  background-color: rgb(255, 255, 255);
}

main {
  margin-top: 76px;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
