{% extends "layout.twig" %}

{% block style %}
  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
  .news-img {
    max-height: 180px;
    width: auto;
    height: auto;
  }
{% endblock %}

{% block content %}
  <main role="main" style="margin-top: 59px;">
    <div class="jumbotron rounded-0">
      <div class="container">
        <h1 class="display-3 d-md-block d-none">สาขาวิทยาการคอมพิวเตอร์และสารสนเทศ</h1>
        <h1 class="display-5 d-md-none d-block">สาขาวิทยาการคอมพิวเตอร์และสารสนเทศ</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>
            <i class="far fa-newspaper"></i> ข่าวสาร</h3>
        </div>
        <div class="col-12">
          <hr>
        </div>
        {% for news in resNews %}
          <div class="col-md-4 p-2">
            <img src="{{ news['full_picture'] }}" alt="news images" class="mx-auto d-block rounded my-3 news-img">
            <span class="badge badge-dark">โพสต์เมื่อ : {{ news['created_time']['date']|slice(0, 19) }}</span>
            <p>{{ news['message']|slice(0, 150) }} . . .</p>
            <p>
              <a class="btn btn-secondary" href="{{ news['link'] }}" target="_blank" role="button">อ่านเพิ่มเติม »</a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
        <div class="col-12 col-md">
          {# <img class="mb-2" src="./assets/images/cis_logo.png" alt="" width="72" height="72"> #}
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <!-- <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Cool stuff</a>
            </li>
            <li>
              <a class="text-muted" href="#">Random feature</a>
            </li>
            <li>
              <a class="text-muted" href="#">Team feature</a>
            </li>
            <li>
              <a class="text-muted" href="#">Stuff for developers</a>
            </li>
            <li>
              <a class="text-muted" href="#">Another one</a>
            </li>
            <li>
              <a class="text-muted" href="#">Last time</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Team</a>
            </li>
            <li>
              <a class="text-muted" href="#">Locations</a>
            </li>
            <li>
              <a class="text-muted" href="#">Privacy</a>
            </li>
            <li>
              <a class="text-muted" href="#">Terms</a>
            </li>
          </ul>
        </div> -->
      </div>
    </footer>
  </div>
{% endblock %}